<%content_for(:title, "Log in") %>
<h3 class="form_title">Log in</h3>
<% form_tag session_path do -%>
  <fieldset class='form'>
    <ol class="nospace form">
      <li>
        <%= label_tag 'login', "Login or Email" %><br />
        <%= text_field_tag 'login', @login, :class=>"text" %>
      </li>
      <li>
        <%= label_tag 'password' %><br/>
        <%= password_field_tag 'password', nil, :class=>"text" %>
      </li>
      <li>
        <%= check_box_tag 'remember_me', '1', @remember_me %><%= label_tag 'remember_me', 'Remember me' %>
      </li>
      <li>
        <%= submit_tag 'Log in', :class=>"submit" %>
      </li>
      <li>
        Forgot password? <%=link_to "Recover it", remind_password_path%>.
      </li>
    </ol>
  </fieldset> 
<% end -%>
