Dear <%= @name %>,
<p>
At your request, <%=CONFIG[:site_title]%> has sent you the following URL so that you 
may reset your password. If it was not at your request, then you should be aware that someone has entered your 
email address as theirs in the forgotten password section of <%=CONFIG[:site_title]%>.
</p>
<p>
Please click on the following link to go to the change password page:

<a href="<%= @url %>">Click me!</a>
</p>

<p>
---
Best,<br/>
<%=CONFIG[:site_title]%> mailer.
</p>

