<%content_for(:title, "Edit you account information") %>

<%content_for(:left, error_messages_for(:user)) %>

<h3 class="form_title">Edit you account information</h3>

<%= @user.login %>

<% form_for :user, :url => user_path(@user), :html=>{:method=>:put} do |f| -%>
<fieldset class='form'>
  <ol class="nospace form">
    <li>
      <%= label_tag 'user_login', "Login" %><br/>
      <%= f.text_field :login, :class=>"text" %>
    </li>
    <li>
      <%= label_tag 'user_email', "Email" %><br/>
      <%= f.text_field :email, :class=>"text" %>
    </li>
    <li>
      <%= submit_tag 'Update', :class=>"submit", :id=>"user_submit"%>
    </li>
  </ol>
</fieldset> 
<% end -%>


<% form_for :user, :url => change_password_path, :html=>{:method=>:put} do |f| -%>
<% @user.password = @user.password_confirmation = nil %>
<h3 class="form_title">Change password</h3>
  <fieldset class='form'>
    <ol class="nospace form">
      <li>
        <%= label_tag 'user_old_password', "Old Password" %><br/>
        <input class="text" id="user_old_password" name="old_password" size="30" type="password" />
      </li>
      <li>
        <%= label_tag 'user_password', "New password" %><br/>
        <%= f.password_field :password, :class=>"text" %>
      </li>
      <li>
        <%= label_tag 'user_password_confirmation', 'Confirm New Password' %><br/>
        <%= f.password_field :password_confirmation, :class=>"text" %>
      </li>
      
      <li>
        <%= submit_tag 'Change password', :class=>"submit" %>
      </li>
    </ol>
  </fieldset> 
<% end -%>



<div class='tb-margin10 cancel_action center_block' id="cancel_link">
  <%=link_to_function "Cancel my account", "$j('.cancel_action').toggle();"%> <small>with confirmation</small>
</div>  

<div id='cancel_account' class='hide cancel_action'>
  <% form_tag user_path(current_user), :method=>:delete do -%>
    <h3 class="form_title">Cancel account</h3>
    <fieldset class='form'>
    <ol class="nospace form">
      <li>
         <div class='notice'>You account and all realted data will be permanently removed.<br/>
          Enter your password to cancel your account at <%=CONFIG[:site_title]%>.
         </div>
      </li>
      <li>
        <%= label_tag 'password' %><br/>
      <%= password_field_tag 'password', nil, :class=>"text" %>
      </li>
      <li>
        <%=submit_tag "Delete my account"%> or <%=link_to_function "Cancel", " $j('.cancel_action').toggle();"%>
      </li>
    </ol>
  </fieldset>
  <%end%>
</div>
<%if flash[:not_deleted]%>
  <script>$j('.cancel_action').toggle();</script>
<%end%>
