<%content_for(:title, "Edit you account information") %>

<%content_for(:left, error_messages_for(:user)) %>

<h1>Edit you account information</h1>


<% form_for :user, :url => user_path(@user), :html=>{:method=>:put} do |f| -%>
<p><%= label_tag 'user_login', "Login" %><br/>
<%= f.text_field :login, :class=>"text" %></p>

<p><%= label_tag 'user_email', "Email" %><br/>
<%= f.text_field :email, :class=>"text" %></p>

<p><%= submit_tag 'Update' %></p>
<% end -%>

<hr/>
<% form_for :user, :url => {:action=>:change_password, :id=>@user.id}, :html=>{:method=>:put} do |f| -%>
<% @user.password = @user.password_confirmation = nil %>
<h3>Change password</h3>
<p><%= label_tag 'user_old_password', "Old Password" %><br/>
<input class="text" id="user_old_password" name="old_password" size="30" type="password" />
</p>

<p><%= label_tag 'user_password', "New password" %><br/>
<%= f.password_field :password, :class=>"text" %></p>

</p>


<p><%= label_tag 'user_password_confirmation', 'Confirm New Password' %><br/>
<%= f.password_field :password_confirmation, :class=>"text" %></p>
<p><%= submit_tag 'Change password' %></p>
<% end -%>

<hr/>

<div class='tb-margin10 cancel_action' id="cancel_link">
  <%=link_to_function "Cancel my account", "$j('.cancel_action').toggle();"%> <small>with confirmation</small>
</div>  

<div id='cancel_account' class='hide cancel_action'>
  <div class='notice'>You account and all realted data will be permanently removed.<br/>
    Enter your password to cancel your account at <%=CONFIG[:site_title]%>.
  </div>
  <% form_tag user_path(current_user), :method=>:delete do -%>
    <p>
      <%= label_tag 'password' %><br/>
      <%= password_field_tag 'password', nil, :class=>"text" %><br/>
      <%=submit_tag "Delete my account", :action=>"destroy"%> or <%=link_to_function "Cancel", " $j('.cancel_action').toggle();"%>
    </p>
  <%end%>
</div>
<%if flash[:not_deleted]%>
  <script>$j('.cancel_action').toggle();</script>
<%end%>
