<%content_for(:title, "Sign up as a new user") %>

<%content_for(:left, error_messages_for(:user)) %>

<h1>Sign up as a new user</h1>
<% @user.password = @user.password_confirmation = nil %>

<% form_for :user, :url => users_path do |f| -%>
<p><%= label_tag 'user_login', "Login" %><br/>
<%= f.text_field :login, :class=>"text" %></p>

<p><%= label_tag 'user_email', "Email" %><br/>
<%= f.text_field :email, :class=>"text" %></p>

<p><%= label_tag 'user_password', "Password" %><br/>
<%= f.password_field :password, :class=>"text" %></p>

<p><%= label_tag 'user_password_confirmation', 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation, :class=>"text" %></p>

<p><%= submit_tag 'Sign up', :id=>"user_submit"%></p>
<% end -%>
