<%content_for(:title, "Recover your password") %>

<%content_for(:left, error_messages_for(:user)) %>

<% form_for :user, :url => {:action=>:recover_password, :key=>@key}, :html=>{:method=>:post} do |f| -%>
<h3>Recover your password</h3>
<p>You are going to set new password for user with email <strong><%=@user.email%></strong></p>
<hr/>
<p><%= label_tag 'user_password', "New password" %><br/>
<%= f.password_field :password, :class=>"text" %></p>

</p>


<p><%= label_tag 'user_password_confirmation', 'Confirm New Password' %><br/>
<%= f.password_field :password_confirmation, :class=>"text" %></p>
<p><%= submit_tag 'Change password' %></p>
<% end -%>