<%content_for(:title, "Recover your password") %>

<%content_for(:left, error_messages_for(:user)) %>

<h3 class="form_title">Set new password</h3>
<% form_for :user, :url =>change_password_path(:key=>@key), :html=>{:method=>:post} do |f| -%>
  <fieldset class='form'>
    <ol class="nospace form">
      <li>
        You are going to set new password for user with email <strong><%=@user.email%></strong>
      </li>
      <li>
        <%= label_tag 'user_password', "New password" %><br/>
        <%= f.password_field :password, :class=>"text" %>
      </li>
      <li>
        <%= label_tag 'user_password_confirmation', 'Confirm New Password' %><br/>
        <%= f.password_field :password_confirmation, :class=>"text" %>
      </li>
      <li>
        <%= submit_tag 'Set new password', :class=>"submit", :id=>"user_submit"%>
      </li>
    </ol>
  </fieldset> 
<% end -%>