<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title><%=CONFIG[:site_title]%> <%="- #{yield(:title)}"%></title>
    <%= stylesheet_link_tag "screen", :media => "all" %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <%= stylesheet_link_tag "main", :media => "all" %>
    <!--[if IE]><%= stylesheet_link_tag "ie", :media => "all" %><![endif]-->
    
    <%= javascript_include_tag "prototype" %>
    
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag 'live_validation' %>
    <%= javascript_include_tag "jquery.ie6blocker" %>
    <%= javascript_include_tag 'application' %>

    <%= stylesheet_link_tag 'live_validation' %>

    <noscript><style type="text/css">div.container { display: none }</style></noscript>

  </head>
  <body>
	<noscript>
		<div class="javascript_disabled_notification">
			<div class="inner">
				<h1>You need to change a setting in your web browser</h1>
				<p> This application requires a browser feature called <strong>JavaScript</strong>. All modern browsers support JavaScript. You probably just need to change a setting in order to turn it on.</p>

				<p>Please see: <a href="http://www.google.com/support/bin/answer.py?answer=23852">How to enable JavaScript in your browser</a>.</p>

				<p>If you use ad-blocking software, it may require you to allow JavaScript for this specific domain</p>

				<p>Once you've enabled JavaScript you can <a href="">try loading this page again</a>.</p>

				<p>Thank you.</p>
			</div>
		</div>
	</noscript>
	
    <div class="container">
      <div class="span-20">
			<%= link_to "", main_url(:subdomain=>false),{:title=>"Bootstrap the web!", :alt=>"Bootstrap the web!", :class=>"logo"}%>
      </div>
      <div class="span-4 last">
        <%=render :partial=>"users/user_bar"%>
      </div>  
      <hr />
      <%=flash_helper%>
      
      <%left = (yield :left)%>
      <%= left.blank? ? "&nbsp" : left%>
      <div class="span-24 last">
        <%=yield%>
      </div>
      <hr />
      <div class="span-6 last">
        <a href="http://github.com/dovadi/rails_funda">Rails Funda</a></div>
    </div>
  </body> 
</html>


